{% extends 'notes/base.html' %}

{% block title %} All Notes {% endblock %}

{% block content %}

<h1>My Notes</h1>
{% if notes %}
    {% for note in notes %}
        <div class="card">
            <h3>
                <a href="{% url 'note_detail' note.pk %}">{{ note.content | truncatewords:20}}</a>
                <br>
                <small> Created : {{ note.created_at }}</small>
            </h3>
            
            <br><br>

            <form method="POST" action="{% url 'toggle_pin'  note.pk %}">
                {% csrf_token %}
                <button type="submit">
                    {% if note.is_pinned %}
                        Unpin
                    {% else %}
                        Pin 
                    {% endif %}
                </button>
            </form>
        </div>
    {% endfor %}
{% else %}

        <p>You haven't created any notes yet.</p>

        <p><a href="{% url 'create_note' %}"> Create your first note </a></p>

{% endif %}


{% endblock %}

